<!DOCTYPE html>
<html>
    <head>
        <title>Protein-Ligand Viewer</title>
        
        <!--scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type='text/javascript' src="{{ url_for('static', filename = 'js/bio-pv.min.js') }}"></script>
	    <script type='text/javascript' src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	    <script type='text/javascript' src="https://cdn.datatables.net/buttons/1.6.3/js/dataTables.buttons.min.js"></script>
	    
	    <!--styling-->
	    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>


    <body>        
        <!-- Page Header -->
        <div class="page-header">
            <h1>Protein-Ligand Viewer</h1>
        </div>
        
        <div class="main-contents">
        
            <!--protein structure name-->
            <h3>Structure: {{ structureId }}</h3>
            
            {% if errmsg %}
                {{ errmsg }}
            {% else %}
                <!--protein/ligand label div - contents depend on what is clicked on in viewer-->
                <div id="label"></div>
            
                <div class="grid-container">
            
                    <!--css grid item for protein viewer (PV viewer)-->
                    <div class="grid-item">
                        <div id="viewer"></div>
                    
                        <!--protein structure display options - cartoon, ball + stick, spheres-->
                        <div class="display-options">
                            Display protein as:
                            <button class="button display-btn" onclick="asCartoon();">Cartoon</button>
                            <button class="button display-btn" onclick="asBallStick();">Ball+Stick</button>
                            <button class="button display-btn" onclick="asSpheres();">Spheres</button>
                            </br>
                            Double click a molecule/residue to center the view on it.
                        </div>
                    </div>
                
                    <!--css grid item for ligand table-->
                    <div class="grid-item">
                        <div class="table-container">
                    
                            <!--ligand table - shows ligand name, structure, other information-->
                            <table id="ligand-table" class="stripe">
                        
                                <!--header row-->
                                <thead>
                                    <th></th>
                                    <th>Molecule Name</th>
                                    <th>Structure</th>
                                    <th>Molecular Weight</th>
                                    <th>cLogP</th>
                                    <th>hs_clash</th>
                                    <th>hs_total</th>
                                    <th>Polar Surface Area</th>
                                    <th>H-Acceptors</th>
                                    <th>H-Donors</th>
                                    <th>Non-H Atoms</th>
                                    <th>sp3-Atoms</th>
                                </thead>
                            
                                <!--iterate through ligands in the loaded SDF-->
                                {% for l in ligandData %}
                                <tr>
                                    <!--first column contains buttons to show/hide the relevant ligand in the viewer-->
                                    <!--show blank cell if a value is not present for a given ligand-->
                                    <td><button class="show-hide-button hide" id="{{l}}" onclick="toggle('{{l}}');">hide</button></td>
                                    <td>
                                        {{ l }}
                                    </td>
                                    <td>
                                        <!--2D SVG of molecule generated by RDKit-->
                                        {% if "img" in ligandData[l] %}
                                            {{ ligandData[l]["img"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--molecular weight-->
                                        {% if "Total Molweight" in ligandData[l] %}
                                            {{ ligandData[l]["Total Molweight"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--cLogP-->
                                        {% if "cLogP" in ligandData[l] %}
                                            {{ ligandData[l]["cLogP"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--hs_clash-->
                                        {% if "hs_clash" in ligandData[l] %}
                                            {{ ligandData[l]["hs_clash"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--hs_total-->
                                        {% if "hs_total" in ligandData[l] %}
                                            {{ '%.3f' % ligandData[l]["hs_total"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--polar surface area-->
                                        {% if "Polar Surface Area" in ligandData[l] %}
                                            {{ ligandData[l]["Polar Surface Area"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--number of hydrogen bond acceptors-->
                                        {% if "H-Acceptors" in ligandData[l] %}
                                            {{ ligandData[l]["H-Acceptors"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--number of hydrogen bond donors-->
                                        {% if "H-Donors" in ligandData[l] %}
                                            {{ ligandData[l]["H-Donors"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--number of non-hydrogens-->
                                        {% if "Non-H Atoms" in ligandData[l] %}
                                            {{ ligandData[l]["Non-H Atoms"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--number of sp3 atoms-->
                                        {% if "sp3-Atoms" in ligandData[l] %}
                                            {{ ligandData[l]["sp3-Atoms"] }}
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div> <!--end table-container-->
                    </div> <!--end grid-item-->
                </div> <!--end grid-container-->
            {% endif %}
        </div> <!--end main-contents-->

    </body>
</html>


<!--js related to protein viewer-->
<script>

    // Set up viewer - specified height (450px) but width matches parent element
    var viewer = pv.Viewer(document.getElementById("viewer"), { width:"auto", height:450, antialias:true, quality :"high"});
    
    // Get paths to structure data and set up variables
    var proteinFile = "{{ url_for('get_structure_file', fname=proteinFname) }}";
    var ligandsFile = "{{ url_for('get_structure_file', fname=ligandsFname) }}";
    var proteinObj;
    var ligandNames = [];
    var labelElement = document.getElementById("label");
    
    // Function to load protein structure and all ligand structures into the viewer
    function loadStructure() {
        pv.io.fetchPdb(proteinFile, function(s) {
            viewer.on("viewerReady", function() {
                pv.mol.assignHelixSheet(s);
                viewer.cartoon("protein", s, { color: pv.color.uniform("#70a5ff") }); // protein stored as item 'protein'
                viewer.autoZoom();
                proteinObj = s;
            });
        });
        
        pv.io.fetchSdf(ligandsFile, function(s) {
            viewer.on("viewerReady", function() {
                var ligands = s.chains();
                var i;
                for (i = 0; i < ligands.length; i++) {
                    var ligandName = ligands[i]._q[0]._K; // access name of ligand and append to list
                    ligandNames.push(ligandName);
                    var ligandNo = String(i+1); // ligands are stored by default as separate chains, id = ligand number as string
                    var thisLigand = s.select({chain: ligandNo}); 
                    viewer.ballsAndSticks(ligandName, thisLigand, { color: pv.color.byElement() }); // add to viewer; ligands stored by name
                }
                viewer.autoZoom();
                ligandsObj = s;
            });
        });
    }
    
    // Functions to change representation of protein structure (cartoon, ball and stick, or spheres)
    function asCartoon() {
        viewer.rm('protein');
        viewer.cartoon('protein', proteinObj, { color: pv.color.uniform("#70a5ff") });
        viewer.requestRedraw();
    }
    
    function asBallStick() {
        viewer.rm('protein');
        viewer.ballsAndSticks('protein', proteinObj, { color: pv.color.byElement() });
        viewer.requestRedraw();
    }
    
    function asSpheres() {
        viewer.rm('protein');
        viewer.spheres('protein', proteinObj, { color: pv.color.byElement() });
        viewer.requestRedraw();
    }
    
    // If an atom in the viewer is clicked, show the chain/residue/atom (for the protein) or ligand name in the label div
    viewer.addListener('click', function(picked) {
        // If the user clicked in an empty area in the viewer, clear the label div
        if (picked === null) {
            labelElement.innerHTML = "";
            return;
        }
        var target = picked.target();
        if (target.qualifiedName !== undefined) {
            if (picked.node().name() == "protein") {
                // If the atom clicked is part of the protein, show the chain, residue, and atom
                labelElement.innerHTML = `you clicked on: protein ${target.qualifiedName()} (chain.res.atom)`;
            } else {
                // If the atom clicked is part of the ligand, show the molecule name
                labelElement.innerHTML = `you clicked on: ligand ${picked.node().name()}`;
            }
        } 
    });
    
    // On a double click, reorientate the viewer such that the clicked atom is in the center
    viewer.on('doubleClick', function(picked) {
        if (picked === null) {
            viewer.fitTo(proteinObj);
            return;
        }
        viewer.setCenter(picked.pos(), 500);
    });
    
    // Function to switch ligands in the viewer on/off
    // molecule name as argument (ligands are stored in the viewer using this, and these are also the IDs of the show/hide buttons)
    function toggle(ligandName) {
        var button = document.getElementById(ligandName);
        if (button.classList.contains("hide")) {
            // if ligand is currently shown (button displays hide), hide specified ligand, alter button to say 'show'
            viewer.hide(ligandName);
            viewer.requestRedraw();
            button.innerHTML = "show";
            button.className = "show-hide-button show";
        } else{
            // if ligand is currently hidden (button displays show), show specified ligand, alter button to say 'hide'
            viewer.show(ligandName);
            viewer.requestRedraw();
            button.innerHTML = "hide";
            button.className = "show-hide-button hide";
        }
    }
    
    // Load structures once the rest of the web page is loaded
    document.addEventListener('DOMContentLoaded', loadStructure);
    
</script>


<!--js related to ligand table-->
<script>
    
    $(document).ready( function () {
        $('#ligand-table').DataTable( {
            "paging":   false,      // don't split the table into separate pages
            "order": [[1, 'asc']],  // originally order the ligands by their name
            "info":     false,
            "scrollY": 400,
            "scrollX": true,
            "dom": '<<t>Bf>',       // set positions of buttons + search bar
            columnDefs:[{"orderable": false, "targets": [0,2]},  //remove option to order by button/structure columns
                        {targets:[0], class:"table-buttons"},    //show/hide buttons
                        {targets:[1], class:"table-molecule"},   //molecule name class
                        {targets:[2], class:"table-structure"}], //structure image class,
                        
            // custom buttons - show/hide all
            buttons: [
                {
                    text: 'hide all',
                    className: 'hide-all',
                    action: function ( e, dt, node, config ) {
                        // iterate over all ligands, hide + alter toggle buttons to say 'show'
                        var i;
                        for (i = 0; i < ligandNames.length; i++) {
                            viewer.hide(ligandNames[i]);
                        }
                        viewer.requestRedraw();
                        var buttons = document.getElementsByClassName("show-hide-button");
                        for (i = 0; i < buttons.length; i++) {
                            buttons[i].innerHTML = "show";
                            buttons[i].className = "show-hide-button show";
                        }
                    }
                },
                {
                    text: 'show all',
                    className: 'show-all',
                    action: function ( e, dt, node, config ) {
                        // iterate over all ligands, show + alter toggle buttons to say 'hide'
                        var i;
                        for (i = 0; i < ligandNames.length; i++) {
                            viewer.show(ligandNames[i]);
                        }
                        viewer.requestRedraw();
                        var buttons = document.getElementsByClassName("show-hide-button");
                        for (i = 0; i < buttons.length; i++) {
                            buttons[i].innerHTML = "hide";
                            buttons[i].className = "show-hide-button hide";
                        }
                    }
                }
            ]
        } );
    } );
    
</script>

